<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://kit.fontawesome.com/1194a10758.js" crossorigin="anonymous"></script>
    <title>Eliminar</title>
  </head>
  <body>
    <div class="wrap">
      <div>
        <a class="backmenu" href="/">
        <i class="fa-solid fa-computer"></i> Menú princial</a>
        <header class="header--one card">
          <h1>
            Eliminar Palabra al Diccionario
            <span> <i class="fa-solid fa-alien-8bit"></i></span>
          </h1>
        </header>
    </br>
        <div class="form-box-left">
          <form action=""  method="POST">
              {% if message %}
              <p class="msg">
                La palabra no existe... <i class="fa-solid fa-thumbs-down"></i>
              </p>
              {% endif %} {% if message == False %}
              <p class="msg">
                ¡Slang eliminado con éxito! <i class="fa-solid fa-thumbs-up"></i>
              </p>
              {% endif %}
              <div>
                <label for="">Palabra a Eliminar</label>
                <input type="text" name="word" />
              </div>
              <button
                onclick="(e) => e.preventDefault()"
                type="submit"
                class="btn-submit"
              >
                Eliminar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <style>
    label{
        align-self: left;
        font-size:large;
    }
    input{
        align-self: left;
        font-size:large;
    }
  </style>
</html>